extends ./layout.jade

block content
  .jumbotron.masthead
    .row-fluid
      .span12
        h1 Promises
    .row-fluid
      .offset4.span4
        p This site aims to introduce the concept of Promises in JavaScript and provide helpful resources for people learning about them.
    .row-fluid
      .offset4.span4
        a.btn.btn-large.btn-primary.btn-block(href='/intro') Introduction