doctype html
html(lang='en')
  head
    meta(charset='utf8')
    title Promises
    link(href='/style/bundle.css', rel='stylesheet')
  body
    #wrap
      .navbar.navbar-default.navbar-static-top
        .container
          ul.nav.navbar-nav
            li: a(href='/') Promises
            li: a(href='/patterns') Patterns
            li: a(href='/generators') Generators
            li: a(href='/implementations') Implementations
          ul.nav.navbar-nav.pull-right
            li: a(href='http://promisesaplus.com/') Spec
      block content
        - throw new Error('Every page must have some content.')
      #push
    #footer-wrapper
      footer
        .right
          script(data-gittip-username="promisejs.org",src="https://www.gittip.com/assets/widgets/0002.js")
        p
          | Developed by&nbsp;
          a.jepso(href='http://www.forbeslindesay.co.uk') @ForbesLindesay
        p
          | All views expressed are my own and do not necessarily reflect the views of the&nbsp;
          a.jepso(href='http://promisesaplus.com/') Promises/A+
          |  organisation
        p
          | Can you make this better?  Please fork it on 
          a.jepso(href='https://github.com/ForbesLindesay/promisejs.org') GitHub
    block scripts
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31798041-3', 'promisejs.org');
      ga('send', 'pageview');